body { 
  text-align: center;
}
#all {
  width:998px;
  margin:0 auto; 
  text-align:left;
}
#top {
  font-size:14px;
}
#top-left { float:left; }
#top-right { text-align:center; }
#top-clear { clear:both; }
#header {
  height:80px;
  background:url('../images/logo.png') no-repeat;
  padding-left: 300px;
  padding-top: 25px;
  font-size: 1.5em;
}
#main { 
  position: relative; 
}
#navigation {
  width:15em;
  background:#00CC77;
  float:left;
}
#navigation div {
	padding:5px;
}
#content {
  margin-left:15em;
}
#content .title {
  padding:20px;
  font-size:1.5em;
}
#content .content {
  padding:20px;
}
#content .content .address {
  margin:15px;
}
#footer {
  padding-top:5px;
  text-align:center;		
  clear:both;
}

#goodslist { list-style-type: none; margin: 0; padding: 0; }
#goodslist li { margin: 3px; padding: 1px; float: left; width: 180px; height: 180px; font-size: 1em; text-align: center; }
#goodslist li a { text-decoration:none; }
#goodslist li a img { border:0; }

#page { clear:both; text-align:right; }
#page input { width:20px; }
#page input[type="button"] { width:30px; }
#page a { text-decoration:none; }

#goods_pic { float:left; margin-right:30px; }
#rating_div { float:right; width: 220px; }
#goods_description { clear:both; padding-top:20px; }

.strong { color:yellow; font-weight:bold; }
.process { background:green; text-align:center; }

/* rating star begin */
.c:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.c {
    display: inline-block;
}
* html .c {
    height: 1%;
}
.c {
    display: block;
}

.grouped_ratings {
    color: #666666;
    font-family: "Helvetica Neue",Arial,sans-serif;
}
.grouped_ratings li {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.grouped_ratings .rating_bar {
    border-left: 1px solid #999999;
    float: left;
    height: 20px;
    overflow: visible;
    width: 96px;
}
.grouped_ratings .rating_bar span.bar {
    background: none repeat scroll 0 0 #DDDDDD;
    display: block;
    height: 10px;
    margin: 0.4em 0.5em 0 0;
    position: relative;
}
.grouped_ratings .num_ratings {
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    right: -5px;
    top: -2px;
    width: 1px;
    word-wrap: normal;
}
.grouped_ratings .stars {
    float: left;
    margin: 4px 8px 0 0;
}
.stars {
    background: url("../images/stars.png") no-repeat scroll left top transparent;
    display: inline-block;
    height: 12px;
    margin-right: 4px;
    text-indent: -9999px;
    vertical-align: middle;
    width: 63px;
}
.stars.stars-4 {
    background-position: -13px 0;
}
.stars.stars-3 {
    background-position: -26px 0;
}
.stars.stars-2 {
    background-position: -39px 0;
}
.stars.stars-1 {
    background-position: -52px 0;
}
.stars.stars-0 {
    background-position: -65px 0;
}
.stars.stars-4h {
    background-position: -130px 0;
}
.stars.stars-3h {
    background-position: -143px 0;
}
.stars.stars-2h {
    background-position: -156px 0;
}
.stars.stars-1h {
    background-position: -169px 0;
}
.stars.stars-h {
    background-position: -182px 0;
}
.stars.large {
    background: url("../images/stars-16.png") no-repeat scroll left top transparent;
    display: block;
    height: 16px;
    width: 89px;
}
.stars.large.stars-4 {
    background-position: -18px 0;
}
.stars.large.stars-3 {
    background-position: -36px 0;
}
.stars.large.stars-2 {
    background-position: -54px 0;
}
.stars.large.stars-1 {
    background-position: -72px 0;
}
.stars.large.stars-4h {
    background-position: -18px 0;
}
.stars.large.stars-3h {
    background-position: -36px 0;
}
.stars.large.stars-2h {
    background-position: -54px 0;
}
.stars.large.stars-1h {
    background-position: -72px 0;
}
.stars.large.stars-h {
    background-position: -70px 0;
}
.ratingwidget {
    display: inline-block;
    float: none;
    width: 65px;
}
.ratingwidget input {
    display: none;
}
.ratingwidget label {
    cursor: pointer;
    display: block;
    float: left;
    text-indent: -5000px;
    width: 13px;
}
/* rating star end */