<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"/>
<title>淘淘兔</title>
</head>
<body>
<div id="all">
<!--# include virtual="/top.shtml" -->
<div th:replace="top :: copy"></div>
<div id="header">
  <input size="30" name="goods" value="" placeholder="暂时不支持搜索功能"/> <input type="button" value="搜索商品"/>
</div>
<div id="main">
<div id="navigation">
<p>商品分类 &gt;&gt;</p>
<ul>
 <li><a href="#">1 - 服饰鞋帽</a></li>
 <li><a href="#">2 - 家用电器</a></li>
 <li><a href="#">3 - 食品饮料</a></li>
 <li><a href="#">4 - 数码科技</a></li>
 <li><a href="#">5 - 母婴玩具</a></li>
</ul>

</div>
<div id="content">
<div class="title">全部商品</div>
<ol id="goodslist">
	<li><a href="/goods/1"><img src="images/goods1.jpg" height="130" width="130"/><br/><span>abc</span></a></li>
	<li><a href="/goods/1"><img src="images/goods2.jpg" height="130" width="130"/><br/><span>def</span></a></li>
	<li><a href="/goods/1"><img src="#" height="130" width="130"/><br/><span>goods</span></a></li>
	<li><a href="/goods/1"><img src="#" height="130" width="130"/><br/><span>goods</span></a></li>
	<li><a href="/goods/1"><img src="#" height="130" width="130"/><br/><span>goods</span></a></li>
	<li><a href="/goods/1"><img src="#" height="130" width="130"/><br/><span>goods</span></a></li>
	<li><a href="/goods/1"><img src="#" height="130" width="130"/><br/><span>goods</span></a></li>
	<li><a href="/goods/1"><img src="#" height="130" width="130"/><br/><span>goods</span></a></li>
	<li><a href="/goods/1"><img src="#" height="130" width="130"/><br/><span>goods</span></a></li>
	<li><a href="/goods/1"><img src="#" height="130" width="130"/><br/><span>goods</span></a></li>
	<li><a href="/goods/1"><img src="#" height="130" width="130"/><br/><span>goods</span></a></li>
	<li><a href="/goods/1"><img src="#" height="130" width="130"/><br/><span>goods</span></a></li>
</ol>
<!--# include virtual="/page.shtml" -->
</div>
</div>
<!--# include virtual="/footer.shtml" -->
<div th:replace="footer :: copy"></div>
</div>
</body>
</html>