<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="../css/main.css" th:href="@{/css/main.css}"/>
<title>淘淘兔</title>
</head>
<body>
<div id="all">
<!--# include virtual="/top.shtml" -->
<div th:replace="top :: copy"></div>
<div id="header">
  <input size="30" name="goods" value="" placeholder="暂时不支持搜索功能"/> <input type="button" value="搜索商品"/>
</div>
<div id="main">
<div id="navigation">
<div>
<p>卖家：XXXX <a href="#">发消息（TODO）</a></p>
<p><input size="15" name="goods" value="" placeholder="暂不支持搜索"/> <input type="button" value="搜索店内商品"/></p>
</div>
</div>
<div id="content">
<div class="title">${goods.name}</div>
<div class="content">
<div id="goods_pic"><img src="<c:url value="${goods.picUrl}" />" height="130" width="130"/></div>
<div id="rating_div">
<c:choose>
<c:when test="${goods.averageRating>4.7}"><span class="stars large" title="5星">5星</span></c:when>
<c:when test="${goods.averageRating>4.2}"><span class="stars large stars-4h" title="4星半">4星半</span></c:when>
<c:when test="${goods.averageRating>3.7}"><span class="stars large stars-4" title="4星">4星</span></c:when>
<c:when test="${goods.averageRating>3.2}"><span class="stars large stars-3h" title="3星半">3星半</span></c:when>
<c:when test="${goods.averageRating>2.7}"><span class="stars large stars-3" title="3星">3星</span></c:when>
<c:when test="${goods.averageRating>2.2}"><span class="stars large stars-2h" title="2星半">2星半</span></c:when>
<c:when test="${goods.averageRating>1.7}"><span class="stars large stars-2" title="2星">2星</span></c:when>
<c:when test="${goods.averageRating>1.2}"><span class="stars large stars-1h" title="1星半">1星半</span></c:when>
<c:when test="${goods.averageRating>0.7}"><span class="stars large stars-1" title="1星">1星</span></c:when>
<c:otherwise><span class="stars large stars-0" title="0星">0星</span></c:otherwise>
</c:choose>
评分 ${goods.averageRating}（${goods.ratingTimes}人评价）
  <ul data-total="${goods.ratingTimes}" class="grouped_ratings">
    <li class="c">
      <span title="评分 5，满分5星" class="stars stars-5">评分 5，满分5星</span>
      <div data-num-reviews="${goods.ratingStars5}" class="rating_bar">
        <span style="width:${goods.ratingStars5*100/goods.ratingTimes}%" class="bar">
          <span class="num_ratings">${goods.ratingStars5}</span>
        </span>
      </div>
    </li>
    <li class="c">
      <span title="评分 4，满分5星" class="stars stars-4">评分 4，满分5星</span>
      <div data-num-reviews="${goods.ratingStars4}" class="rating_bar">
        <span style="width:${goods.ratingStars4*100/goods.ratingTimes}%" class="bar">
          <span class="num_ratings">${goods.ratingStars4}</span>
        </span>
      </div>
    </li>
    <li class="c">
      <span title="评分 3，满分5星" class="stars stars-3">评分 3，满分5星</span>
      <div data-num-reviews="${goods.ratingStars3}" class="rating_bar">
        <span style="width:${goods.ratingStars3*100/goods.ratingTimes}%" class="bar">
          <span class="num_ratings">${goods.ratingStars3}</span>
        </span>
      </div>
    </li>
    <li class="c">
      <span title="评分 2，满分5星" class="stars stars-2">评分 2，满分5星</span>
      <div data-num-reviews="${goods.ratingStars2}" class="rating_bar">
        <span style="width:${goods.ratingStars2*100/goods.ratingTimes}%" class="bar">
          <span class="num_ratings">${goods.ratingStars2}</span>
        </span>
      </div>
    </li>
    <li class="c">
      <span title="评分 1，满分5星" class="stars stars-1">评分 1，满分5星</span>
      <div data-num-reviews="${goods.ratingStars1}" class="rating_bar">
        <span style="width:${goods.ratingStars1*100/goods.ratingTimes}%" class="bar">
          <span class="num_ratings">${goods.ratingStars1}</span>
        </span>
      </div>
    </li>
  </ul>
</div>
<div>
<p>
类别：${category}<br/>
价格：${goods.price}元<br/>
剩余数量：${inventory.availableNumber}个<br/>
已售出：${inventory.selledNumber}个
<c:if test="${goods.state!='CREATED'}">
<br/>上架时间: <fmt:formatDate value="${goods.onlineTime}" type="both"/>
</c:if>
</p>
<p>
<c:choose>
<c:when test="${goods.state=='ONLINE'}">
<input type="button" value="我要购买" onclick="location.href='<c:url value="/order/buy/"/>${goods.id}'"/>
</c:when>
<c:when test="${goods.state=='OFFLINE'}">
已经在<fmt:formatDate value="${goods.offlineTime}" type="both"/>下架
</c:when>
<c:otherwise>
还没上架呢
</c:otherwise>
</c:choose>
</p>
</div>
<div id="goods_description">${goods.description}</div>
</div>
<hr/>
<div class="title">商品评价</div>
<table>
<tr><th>星级</th><th>评价日期</th><th>用户</th><th>评论</th><th>购买价格</th><th>购买日期</th></tr>
<tbody id="rating_list">
</tbody>
</table>
<div id="page"></div>
</div>
</div>
<!--# include virtual="/footer.shtml" -->
<div th:replace="footer :: copy"></div>
</div>
</body>
</html>